#portfolio-section {
  background-color: #9b70eb;
  padding-top: 50px;
  padding-bottom: 30px;
}

#portfolio-header {
  color: white;
  margin-bottom: 0;
}

#portfolio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-header {
  display: flex;
}

.text-portfolio {
  display: flex;
  text-align: center;
  width: 80%;
  color: white;
  font-size: 1.5em;
  margin-top: 0;
  padding-bottom: 30px;
}

.projects-grid {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}

.project-tile {
  width: 30%;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5; /* Optional: Background color for tiles */
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 25px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-image-container {
  width: 100%;
  overflow: hidden;
}

.project-image {
  width: 100%;
  height: auto;
  display: block;
}

.project-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1rem;
  text-align: left;
}

.project-details p {
  margin-bottom: auto; /* Pushes content up, ensuring tech stack stays at the bottom */
}

.tech-stack {
  margin-top: auto; /* Ensures alignment at the bottom of .project-details */
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-weight: bold;
}

/*
  /* ================================
     Responsive Layouts
  ================================ */

@media (max-width: 667px) {
  .text-portfolio {
    font-size: 1em;
    margin: 10px;
  }

  .projects-grid {
    display: flex;
    flex-direction: column;
    margin: 5% 5%;
  }

  .project-tile {
    width: 100%;
  }
}

/* @media (min-width: 1024px) {
    .text-portfolio {
      margin-left: 5%;
      margin-right: 5%;
    }
  } */

/* @media (min-width: 1200px) {
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  } */
