#portfolio-section {
  background-color: #9b70eb;
  padding-top: 50px;
  padding-bottom: 30px;
}

#portfolio-header {
  color: white;
  margin-bottom: 0;
}

#portfolio-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-header {
  display: flex;
}

.text-portfolio {
  display: flex;
  text-align: center;
  width: 80%;
  color: white;
  font-size: 1.5em;
  margin-top: 0;
  padding-bottom: 30px;

}

.projects-grid {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}

.project-tile {
  width: 30%;
  background-color: white;
  border: 1px solid #ff759a;
  border-radius: 0.5rem;

}


/* Project Details Container */
.project-details {
  margin-top: auto;
  text-align: left;
  padding-top: 1rem;
  padding-left: 1em;
}


/* ================================
   Image Tiles
================================ */
/* Project Image Container */
.project-image-container {
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    margin: 0 auto;
    object-fit: cover;
    background-color: #4a91e2b7; /* Default shaded background */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333; /* text color for placeholder */
  }

  /* Project Image */
.project-image {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: contain;
    object-position: top; /* Focus on the top of the image */
  }

  /* When there's no image, add a shaded background */
  .project-image[alt=""] {
    display: none; /* Hide the image element when alt is empty */
  }



  /*
  /* ================================
     Responsive Layouts
  ================================ */

  @media (max-width: 667px) {
    .text-portfolio {
      font-size: 1em;
      margin: 10px;

    }

    .projects-grid {
      display: flex;
      flex-direction: column;
      margin: 5% 5%;
    }

    .project-tile {
      width: 100%;
    }


  }

 /* @media (min-width: 1024px) {
    .text-portfolio {
      margin-left: 5%;
      margin-right: 5%;
    }
  } */

  /* @media (min-width: 1200px) {
    .projects-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  } */
