/* ================================
   Site Banner
================================ */
#site-banner {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ff759a;
  margin: 0 0 1rem 0;
}

#banner-text {
  display: flex;
  justify-content: flex-end;
  font-size: 1em;
  color: #6a6a6a;
  padding-left: 5%;
}


/* ================================
     Home Page Container
  ================================ */
#logo-banner {
  display: flex;
  align-items: center;
  font-size: 3em;
  text-decoration: none;
  color: #9b70eb;

  &:hover {
    color: #6a6a6a;
    transition: color 0.3s ease;
  }
}

.headshot {
  width: 80px;
  height: 80px;
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image is cropped to fit the circle */
  border: 3px solid #ff759a;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.site-name {
  font-size: 0.75em;
  font-weight: normal;
  margin-left: 0.25em;
  text-decoration: none;
}

/* ================================
     menu Dropdown Container
  ================================ */
#menu-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* ================================
     menu Dropdown Button
  ================================ */
#button-menu {
  color: #6a6a6a;
  background: #ffffff;

  padding: 0.5em 1em;
  border: 1px solid rgba(100, 100, 111, 0.2);
  box-shadow: 0px 7px 29px rgba(100, 100, 111, 0.2);
  border-radius: 2.125em;

  &:hover {
    cursor: pointer;
  }
}

#button-menu > * {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ================================
     Dropdown Menu
  ================================ */
.menu-dropdown {
  position: absolute;
  top: 119px;
  right: 0;
  z-index: 1;
  padding: 0 50px;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.25) 0px 7px 15px 0px;
  text-align: left;
  overflow-y: auto;
}

.menu-dropdown > * {
  padding-left: 0em;
  cursor: pointer;
}

.menu-dropdown.hidden {
  display: none;
}

.menu-dropdown ul {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0;
}

.menu-dropdown li {
  display: flex;
  padding-bottom: 1em;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.menu-link {
  text-decoration: none;
  color:#9b70eb;
  font-size: 1.25em;
  font-weight: 600;

  &:hover {
    color: #ff759a
  }

}

/* ================================
     Media Queries
  ================================ */

/* Small Screens (up to 667px) */

@media (max-width: 667px) {
  #site-banner {
    padding: 1em 1em;
  }

  #logo-banner {
    font-size: 2em;
  }

  .site-name {
    font-size: 0.75em;
  }

  .menu-dropdown {
    top:119px
  }

  .nav-link {
    display: flex;
    align-items: flex-end;
    font-size: 1em;
    padding-right: 0.25em;
  }

  #button-menu {
    font-size: 0.8em;
  }
}
