#experience-section {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

#button-container {
    display: flex;
    justify-content: center;
    margin: 5%
}


#experience-container {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.link-button {
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    font-size: 1.25em;
    font-weight: 600;
    color: #fff;
    background-image: linear-gradient(
      to right,
      #ff759a,
      #9b70eb
    );
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .link-button:hover {
    background-image: linear-gradient(
      to left,
      #ff759a,
      #9b70eb
    );
  }


.resume-section {
    font-size: 1.75em;
}

.company {
    font-size: 1.25em;
    color: #9b70eb;
    margin-bottom: 0;
}
.dates {
    font-style: italic;
}
